<template>
  <b-container
    fluid="lg"
    class="justify-content-center justify-items-center m-auto p-2"
  >
    <b-row class="justify-content-center justify-items-center m-auto">
      <b-spinner variant="primary" v-if="Spinning" label=""></b-spinner>
      <!-- <transition-group name="list-complete" tag="p"> -->
      <!-- <transition-group name="flip-list" tag="ul"> -->
      <transition-group name="list" tag="p">
        <div
          class="col-md-6 p-2 list-item"
          v-for="item in all"
          v-bind:key="item"
        >
          <div>
            <b-card
              :id="item.id"
              no-body
              class="overflow-hidden shadow hover card"
            >
              <b-row no-gutters>
                <b-col md="6">
                  <b-card-img
                    :src="item.image"
                    alt="Image"
                    class="rounded-0"
                  ></b-card-img>
                </b-col>
                <b-col md="6">
                  <b-card-body>
                    <h3>{{ item.name }}</h3>
                    <b-card-text>
                      {{ item.dec }}
                    </b-card-text>
                    <b-button
                      variant="danger"
                      class="circl"
                      @click="editRecipe(item.id)"
                    >
                      <b-icon icon="pencil-square"></b-icon>
                    </b-button>
                    <b-button
                      variant="info"
                      class="circl"
                      @click="removeRecipe(item.id)"
                    >
                      <b-icon icon="trash"></b-icon>
                    </b-button>
                  </b-card-body>
                </b-col>
              </b-row>
            </b-card>
          </div>
        </div>
      </transition-group>
    </b-row>
    <addNewRecipesModel></addNewRecipesModel>
    <editRecipesModel ref="comp_ref" :recipes="recipes"></editRecipesModel>
  </b-container>
</template>
<style scoped>
.hover {
  cursor: pointer;
  transition: all 0.2s;
}
.hover:hover {
  box-shadow: 0 0 20px rgb(190, 190, 190) !important;
}
.card {
  border-radius: 35px;
}
.card img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}
.circl {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  color: white;
  margin: 2px;
}
.list-item {
  display: inline-block;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.flip-list-move {
  transition: transform 0.2s;
  display: inline-block;
}
.list-complete-item {
  transition: all 0.3s;
  display: inline-block;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  display: inline-block;
  opacity: 0;
  transform: translateX(5px);
}
.list-complete-leave-active {
  display: inline-block;
}
@media (max-width: 755px) {
  .card img {
    width: 100% !important;
    height: auto;
    object-fit: unset;
  }
}
</style>
<script>
import addNewRecipesModel from "../components/NewRecipesModel";
import editRecipesModel from "../components/editRecipesModel";

export default {
  name: "Home",
  data() {
    return {
      all: "",
      Spinning: false,
      recipes: {
        id: "",
        name: "",
        dec: "",
        image: "",
      },
    };
  },
  components: {
    addNewRecipesModel,
    editRecipesModel,
  },
  methods: {
    selectAllRecipes(data, data_2) {
      if (data) {
        console.log(data);
        this.all.push(data[0]);
      }
      if (data_2) {
        for (var i in this.all) {
          if (this.all[i].id == data_2.id) {
            this.all[i].name = data_2.name;
            this.all[i].dec = data_2.dec;
            this.all[i].image = data_2.image;
          }
        }
      }
      if (data == null && data_2 == null) {
        this.Spinning = true;
        var recipes = JSON.parse(localStorage.getItem("RecipesInfo"));
        this.all = recipes;
        this.Spinning = false;
      }
    },
    removeRecipe(id) {
      var recipes = JSON.parse(localStorage.getItem("RecipesInfo"));
      for (var i in recipes) {
        if (recipes[i].id == id) {
          recipes.splice(i, 1);
        }
      }
      for (var t in this.all) {
        if (this.all[t].id == id) {
          this.all.splice(t, 1);
        }
      }
      console.log(this.all);
      localStorage.setItem("RecipesInfo", JSON.stringify(recipes));
    },
    editRecipe(id) {
      this.$refs.comp_ref.showModal_2(id);
    },
  },
  mounted() {
    this.selectAllRecipes(null, null);
  },
};
</script>
