<template>
  <b-container fluid="sm" class="justify-content-md-center p-5">
    <b-row class="justify-content-md-center">
      <b-col col lg="6" class="p-5 border shadow">
        <h1 class="p-3 text-center" style="width:100%">
          Login
        </h1>
          <p v-if="errors.length">
        <b-alert show variant="danger" v-for="error in errors">{{ error }}</b-alert>
  </p>
        <b-form inline>
          <label>Email :</label>
          <b-input-group prepend=" @ " class="mb-2 mr-sm-2 mb-sm-0">
            <b-form-input type="email" v-model="email" placeholder="Email"></b-form-input>
          </b-input-group>
          <label>Password :</label>
          <b-input-group prepend="***" class="mb-2 mr-sm-2 mb-sm-0 ">
            <b-form-input
              v-model="password"
              class="mb-2 mr-sm-2 mb-sm-0"
              placeholder=""
              type="password"
            ></b-form-input>
          </b-input-group>
          <b-form-checkbox class="mb-2 mr-sm-2 mb-sm-0"
            >Remember me</b-form-checkbox
          >
          <br />
          <div class="row">
            <div class="col-12 text-center">
              <b-button variant="primary" @click="login" class="color_class"
                >Log In</b-button
              >
            </div>
            <div class="col-12 text-center">
              <router-link class="mb-2 mr-sm-2 mb-sm-0" to="/register"
                >You do not have an account?</router-link
              >
            </div>
            <div class="col-12 text-center">
<p>
  Email : admin@admin.com
  <br>
  Password : admin
</p>
            </div>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  data: function() {
    return {
      errors: [],
      email: "",
      password: "",
    };
  },
  methods: {
    login() {
      let email = this.email;
      let password = this.password;
        if (!email) {
          this.errors=[];
        this.errors.push('Email required.');
        return false;
      }
      else if (!this.validEmail(email)) {
         this.errors=[];
        this.errors.push('Valid email required.');
        return false;
        }
      if (!password) {
        this.errors=[];
        this.errors.push('Password required.');
        return false;
      }

      this.$store
        .dispatch("login", { email, password })
        .then((res) => {
          if (res === "true") {
            this.$router.push("/");
          } else {
            this.$router.push("/login");
          }
        })
        .catch((err) => console.log(err));
    },
     validEmail (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  },
};
</script>
<style scoped>
b-form-input {
  padding: 5px;
}
</style>
