<template>
  <b-container fluid="sm" class="justify-content-md-center p-5">
    <b-row class="justify-content-md-center">
      <b-col col lg="6" class="p-5 border shadow ">
        <h1 class="p-3 text-center" style="width:100%">
          Register
        </h1>
        <b-form inline>
          <label>Email :</label>
          <b-input-group prepend=" @ " class="mb-2 mr-sm-2 mb-sm-0">
            <b-form-input v-model="email" placeholder="Email"></b-form-input>
          </b-input-group>
          <label>Password</label>
          <b-input-group prepend="* *" class="mb-2 mr-sm-2 mb-sm-0">
            <b-form-input
              v-model="password"
              class="mb-2 mr-sm-2 mb-sm-0"
              placeholder=""
              type="password"
            ></b-form-input>
          </b-input-group>
          <b-form-checkbox class="mb-2 mr-sm-2 mb-sm-0"
            >Remember me</b-form-checkbox
          >
          <br />

          <div class="row">
            <div class="col-12 text-center">
              <b-button variant="primary" class="color_class" @click="register"
                >Submit</b-button
              >
            </div>
            <div class="col-12 text-center">
              <router-link class="mb-2 mr-sm-2 mb-sm-0" to="/login"
                >Do you have an account?</router-link
              >
            </div>
          </div>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
export default {
  data: function() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    register() {
      let email = this.email;
      let password = this.password;
      this.$store
        .dispatch("register", { email, password })
        .then(() => this.$router.push("/"))
        .catch((err) => console.log(err));
    },
  },
};
</script>
<style scoped>
b-form-input {
  padding: 5px;
}
</style>
