<template>
  <div>
    <!-- <button id="show-btn" class="add_recipes" @click="showModal">+</button> -->
    <b-modal ref="my-modal-2" hide-footer title="Recipes">
      <div class="d-block text-center">
        <h3>Edit Recipe</h3>
      </div>
      <form class="form-control">
        <input type="hidden" v-model="form.id" />
        <div class="form-group">
          <label for="">Name:</label>
          <input
            type="text"
            name="name"
            v-model="form.name"
            class="form-control"
            placeholder="Name"
          />
          <small id="helpIdName" class="text-muted">Name of Recipe</small>
        </div>
        <div class="form-group">
          <label for="">Description:</label>
          <input
            type="text"
            name="dec"
            v-model="form.dec"
            class="form-control"
            placeholder="Description"
          />
          <small id="helpIdDec" class="text-muted">Description of Recipe</small>
        </div>
        <div class="form-group">
          <label for="">Image:</label>
          <input
            type="file"
            @change="myImage"
            name="file"
            id="file"
            ref="file"
          />
          <input type="hidden" v-model="form.image" id="image" />
          <img
            id="review"
            :src="form.image"
            ref="review"
            class="form-control canvas"
          />
          <small id="helpIdImage" class="text-muted">Image</small>
        </div>
      </form>
      <b-button class="mt-2" variant="outline-warning" block @click="editItem"
        >Edit</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        id: "",
        name: "",
        dec: "",
        image: "",
      },
    };
  },
  methods: {
    showModal_2(id) {
      this.$refs["my-modal-2"].show();
      var recipes = JSON.parse(localStorage.getItem("RecipesInfo"));
      for (var i in recipes) {
        if (recipes[i].id == id) {
          this.form.id = recipes[i].id;
          this.form.name = recipes[i].name;
          this.form.dec = recipes[i].dec;
          this.form.image = recipes[i].image;
        }
      }
    },
    hideModal_2() {
      this.$refs["my-modal-2"].hide();
    },
    myImage() {
      var file = document.getElementById("file").files[0];
      this.imageToBase64(file);
    },
    imageToBase64(file) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        console.log("file to base64 result:" + reader.result);
        this.iconBase64 = reader.result;
        document.getElementById("image").value = reader.result;
        this.form.image = reader.result;
        this.reviewImage(reader.result);
      };
      reader.onerror = function(error) {
        console.log("Error: ", error);
      };
    },
    reviewImage(file) {
      document.getElementById("review").src = file;
    },
    editItem() {
      var recipes = JSON.parse(localStorage.getItem("RecipesInfo"));
      for (var i in recipes) {
        if (recipes[i].id == this.form.id) {
          recipes[i].name = this.form.name;
          recipes[i].dec = this.form.dec;
          recipes[i].image = this.form.image;
        }
      }
      localStorage.setItem("RecipesInfo", JSON.stringify(recipes));
      this.$refs["my-modal-2"].hide();
      this.$parent.selectAllRecipes(null, this.form);
    },
  },
};
</script>
<style scoped></style>
