<template>
  <div>
    <b-navbar class="navbar" toggleable="lg" type="dark" variant="info">
      <b-navbar-brand class="logo" href="#">
        Recipes
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <router-link class="nav_link" to="/">Home</router-link>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto nav_res" right>
          <b-nav-item-dropdown right class="align_right nav_res">
            <template #button-content>
              <a class="nav_link nav_res"
                ><b-icon icon="person-circle"></b-icon
              ></a>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#" @click="logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<style scoped>
.logo {
  padding: 20px;
  font-size: 30px;
  text-shadow: 1px 2px 15px gray;
  font-weight: 800;
}
.navbar {
  box-shadow: 0 0 10px gray;
}
.nav_link {
  padding: 10px;
  border: 1px solid rgba(58, 156, 236, 0.445);
  border-radius: 8px;
  background: white;
  color: rgba(58, 156, 236, 0.445);
  transition: all 0.3s;
  text-decoration: none;
}
.nav_link:hover {
  color: white;
  background: rgba(58, 156, 236, 0.445);
  border: 1px solid white;
}
.align_right {
  position: absolute;
  top: 30px;
  right: 5px;
}

@media (max-width: 991px) {
  .align_right {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    width: auto;
    float: right;
    margin-top: 2px;
  }
  .nav_res {
    float: right;
  }
  .d {
    display: none;
  }
}
</style>
<script>
export default {
  methods: {
    logout() {
      this.$store.dispatch("logout",{ok:"ok"}).then((res) => {
        if(res==="ok"){
        this.$router.push("/login");
        }
      }).catch((err) => console.log(err));
    },
  },
};
</script>
