<template>
  <div>
    <button id="show-btn" class="add_recipes" @click="showModal">+</button>
    <b-modal ref="my-modal" hide-footer title="Recipes">
      <div class="d-block text-center">
        <h3>Add New Recipe</h3>
      </div>
      <form class="form-control">
        <div class="form-group">
          <label for="">Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            v-model="form.name"
            ref="name"
            class="form-control"
            placeholder="Name"
          />
          <small id="helpIdName" class="text-muted">Name of Recipe</small>
        </div>
        <div class="form-group">
          <label for="">Description:</label>
          <input
            type="text"
            name="dec"
            id="dec"
            v-model="form.dec"
            ref="dec"
            class="form-control"
            placeholder="Description"
          />
          <small id="helpIdDec" class="text-muted">Description of Recipe</small>
        </div>
        <div class="form-group">
          <label for="">Image:</label>
          <input
            type="file"
            @change="myImage"
            name="file"
            id="file"
            ref="file"
          />
          <input v-model="form.image" type="hidden" id="image" />
          <img id="review" ref="review" class="form-control canvas" />
          <small id="helpIdImage" class="text-muted">Image</small>
        </div>
      </form>
      <b-button class="mt-2" variant="outline-warning" block @click="addNew"
        >Save</b-button
      >
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        dec: "",
        image: "",
      },
      all: [],
    };
  },
  methods: {
    showModal() {
      this.$refs["my-modal"].show();
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    myImage() {
      var file = document.getElementById("file").files[0];
      this.imageToBase64(file);
    },
    imageToBase64(file) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        console.log("file to base64 result:" + reader.result);
        this.iconBase64 = reader.result;
        document.getElementById("image").value = reader.result;
        this.form.image = reader.result;
        this.reviewImage(reader.result);
      };
      reader.onerror = function(error) {
        console.log("Error: ", error);
      };
    },
    reviewImage(file) {
      document.getElementById("review").src = file;
    },
    addNew() {
      this.addNewRecipe(this.form.name, this.form.dec, this.form.image);
    },
    addNewRecipe(name, dec, image) {
      // retrieve it (Or create a blank array if there isn't any info saved yet),
      var recipe = JSON.parse(localStorage.getItem("RecipesInfo")) || [];
      var id = recipe.length + 1;
      // add to it,
      recipe.push({ id: id, name: name, dec: dec, image: image });
      // then put it back.
      localStorage.setItem("RecipesInfo", JSON.stringify(recipe));
      this.$refs["my-modal"].hide();
      var data = [];
      data.push({ id: id, name: name, dec: dec, image: image });
      this.$parent.selectAllRecipes(data, null);
    },
  },
};
</script>
<style scoped>
.add_recipes {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 65px;
  height: 65px;
  font-size: 35px;
  border-radius: 100%;
  border: 0;
  box-shadow: 0 0 20px gray;
  color: white;
  background-color: rgb(58, 156, 236);
  transition: all 0.3s;
}
.add_recipes:hover {
  box-shadow: 0 0 50px gray;
  transform: rotate(180deg);
}
.canvas {
  height: 200px;
}
</style>
