<template>
  <div id="app">
    <navbar v-if="$route.name != 'Login' && $route.name != 'Register'"></navbar>
    <login v-if="$route.name == 'Login'"></login>
    <Register v-if="$route.name == 'Register'"></Register>
    <Home v-if="$route.name == 'Home'"></Home>
    <!-- <router-link></router-link> -->
  </div>
</template>
<script>
import navbar from "./components/navbar";
import Home from "./views/Home.vue";
import Login from "./views/Login.vue";
import Register from "./views/Register.vue";
export default {
  components: {
    navbar,
    Login,
    Register,
    Home,
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
.color_class {
  background: white !important;
  color: rgb(58, 156, 236) !important;
  transition: all 0.3s;
}
.color_class:hover {
  background: rgb(58, 156, 236) !important;
  color: white !important;
}
</style>
